<template>
    <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" v-if="!formSubmitted">
                    <form>
                        <div class="form-group">
                            <h1>Form</h1>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="name">First Name</label>
                            <input type="text" id="name" v-model="firstName" class="form-control" placeholder="Ivan">
                        </div>
                        <div class="form-group">
                            <label for="surname">Last Name</label>
                            <input type="text" id="surname" v-model="lastName" class="form-control" placeholder="Ivanov">
                        </div>
                        <div class="form-group">
                            <label for="fullname">Full Name</label>
                            <input type="text" id="fullname" v-model.lazy="fullName" class="form-control" placeholder="Ivan Ivanov">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" v-model.lazy="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>                                
                            <input type="email" id="email" v-model="email" class="form-control" placeholder="Enter email">                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                Yes
                                <input  class="form-check"
                                        type="radio" 
                                        v-model="storeInDB"
                                        value="yes">
                            </label>
                            <label>
                                No
                                <input  class="form-check"
                                        type="radio" 
                                        v-model="storeInDB"
                                        value="no">
                            </label>
                        </div>
                        <div class="form-group">
                            <button type="submit" 
                                class="btn btn-primary"
                                @click.prevent="submitForm">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" v-if="formSubmitted">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Your Data</h4>
                        </div>
                        <div class="panel-body">
                            <p>Full Name: {{ fullName }}</p>
                            <p>Mail: {{ email }} </p>
                            <p>Password: {{ password }}</p>
                            <p>Store in Database?: {{ storeInDB }}</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                firstName: '',
                lastName: '',
                email: '',
                password: '',
                storeInDB: 'yes',
                formSubmitted: false
            }
        },
        computed: {
            fullName: {
                get () {
                    return (this.firstName + ' ' + this.lastName).trim();
                },
                set (fullName) {
                    [this.firstName='', this.lastName=''] = fullName.split(' ');
                }
            }
        },
        methods: {
            submitForm () {
                this.formSubmitted = true;
            }
        }
    }
</script>

<style>
.panel {
    margin-top: 2em;
}

/* @media (min-width: 992px) {
    .panel {
        margin-top: 125px;
    }
} */

</style>
